/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* tabs */
.tabs {
  text-align: center;
  width: 100%;
  background-color: #F5F5F5;
}

/* .tabs li a {
  font-size: 25px;
} */

/* heading */
.heading {
  text-align: center;
  margin-top: 80px; 
  margin-bottom: 80px;
}

.subhead {
  font-size: 40px;
}

.body {
  font-size: 20px;
}

/* cards */
.btn-learn {
  margin-top: 20px;
}

/* table */
table {
  /* margin-top: 100px; */
}

.mycontainer {
    width: 90%;
    margin: 0 auto;
    
}

.main-heading {
  font-size: 70px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Allerta', sans-serif;
}

/* tabs */
.tabs .tab a{
  color: red;
} 



.logo {
  width: 600px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 40px;
}

table {
  margin-bottom: 150px;
  font-size: 19px;
}

/* .school-img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: 40px;
} */

.school-img {
  margin-bottom: 40px;
}